.location .card-img-top {
    max-width: 100%;
    max-height: 100%;
    min-width: 100%;
    min-height: 100%;
}


/* Afficher ou masquer le mot de passe */

label {
    position: relative;
}

label input {
    font-size: 1em;
    color: #f9f9f9;
    background: transparent;
    padding: 1rem 1.2rem;
    width: 350px;
    border-radius: 5px;
    border: 2px solid #7a7a7a;
    transition: all 0.2s;
}

label input:focus {
    border-color: #ff4754;
}

label .password-icon {
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    right: -78px;
    transform: translateY(-50%);
    width: 20px;
    color: #5a5b5c;
    transition: all 0.2s;
}

label .password-icon:hover {
    cursor: pointer;
    color: #0dcaf0;
}

label .password-icon .feather-eye-off {
    display: none;
}

.form-group.last {
    min-height: 61px;
}

label {
    font-weight: bold;
    font-size: 0.875rem;
    margin-bottom: 0.5rem;
}

/* Message de confirmation */

.message-validation {
    width: 100%;
    height: auto;
    padding: 1rem 1.5rem;
    border-radius: 15px;
    text-align: center;
}

.message-validation.message-success {
    background: #48cb764a;
    box-shadow: 0 0 5px 0px #bfe8cead;
}

.message-validation.message-error {
    background: #cb48484a;
    box-shadow: 0 0 5px 0px #e8bfbfad;
}

.message-validation img {
    max-width: 160px;
}

.message-validation h3 {
    font-style: italic;
}

.message-validation p {
    color: black;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 0;
}

.message-validation {
    display: none;
}

#loader-form {
    display: flex;
    justify-content: center;
    height: 500px;
    position: relative;
    flex-direction: column;
    align-items: center;
}

.hidden {
    display: none !important;
}