body {
    background: #d9e5e16b !important
}

p {
    color: #b3b3b3;
    font-weight: 300;
}

a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

a:hover {
    text-decoration: none !important;
}

.content {
    padding: 7rem 0;
}

@media all and (min-width: 320px) and (max-width: 768px) {

    .content {
        padding: 3rem 0;
    }

}

h2 {
    font-size: 20px;
}

.content a {
    color: #888;
    text-decoration: underline;
}

.content .btn {
    height: 40px;
    padding-left: 30px;
    padding-right: 30px;
}

.content .forgot-pass {
    position: relative;
    top: 2px;
    font-size: 14px;
}

.social-login a {
    text-decoration: none;
    position: relative;
    text-align: center;
    color: #fff;
    margin-bottom: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-block;
}

.social-login a span {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.social-login a:hover {
    color: #fff;
}

.social-login a.facebook {
    background: #3b5998;
}

.social-login a.facebook:hover {
    background: #344e86;
}

.social-login a.twitter {
    background: #1da1f2;
}

.social-login a.twitter:hover {
    background: #0d95e8;
}

.social-login a.google {
    background: #ea4335;
}

.social-login a.google:hover {
    background: #e82e1e;
}

.control {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 14px;
}

.control .caption {
    position: relative;
    top: .2rem;
    color: #888;
}

.control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.control__indicator {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background: #e6e6e6;
    border-radius: 4px;
}

.control--radio .control__indicator {
    border-radius: 50%;
}

.control:hover input~.control__indicator,
.control input:focus~.control__indicator {
    background: #ccc;
}

.control input:checked~.control__indicator {
    background: #3dd5f3;
}

.control:hover input:not([disabled]):checked~.control__indicator,
.control input:checked:focus~.control__indicator {
    background: #3dd5f3;
}

.control input:disabled~.control__indicator {
    background: #e6e6e6;
    opacity: 0.9;
    pointer-events: none;
}

.control__indicator:after {
    font-family: 'icomoon';
    content: '\e5ca';
    position: absolute;
    display: none;
    font-size: 16px;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

.control input:checked~.control__indicator:after {
    display: block;
    color: #fff;
}

.control--checkbox .control__indicator:after {
    top: 50%;
    left: 50%;
    margin-top: -1px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.control--checkbox input:disabled~.control__indicator:after {
    border-color: #7b7b7b;
}

.control--checkbox input:disabled:checked~.control__indicator {
    background-color: #7e0cf5;
    opacity: .2;
}



/* Afficher ou masquer le mot de passe */

label {
    position: relative;
}

label input {
    font-size: 1em;
    color: #f9f9f9;
    background: transparent;
    padding: 1rem 1.2rem;
    width: 350px;
    border-radius: 5px;
    border: 2px solid #7a7a7a;
    transition: all 0.2s;
}

label input:focus {
    border-color: #ff4754;
}

label .password-icon {
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    right: -78px;
    transform: translateY(-50%);
    width: 20px;
    color: #5a5b5c;
    transition: all 0.2s;
}

label .password-icon:hover {
    cursor: pointer;
    color: #0dcaf0;
}

label .password-icon .feather-eye-off {
    display: none;
}

.form-group.last {
    min-height: 61px;
}

label {
    font-weight: bold;
    font-size: 0.875rem;
    margin-bottom: 0.5rem;
}

/* Upload Galerie */

.upload-bloc,
.upload-bloc-2,
.upload-bloc-3,
.upload-bloc-4 {
    text-align: center;
    width: 100%;
    display: flex;
    background: white;
    height: 260px;
    border: 1px dotted black;
    padding: 1rem;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.upload-bloc .text-dark,
.upload-bloc-2 .text-dark,
.upload-bloc-3 .text-dark,
.upload-bloc-4 .text-dark {
    font-weight: 600;
    font-size: initial;
}

.upload-bloc .div-img,
.upload-bloc-2 .div-img,
.upload-bloc-3 .div-img,
.upload-bloc-4 .div-img {
    margin: 0;
}

.error-1 {
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.error-1 p {
    font-size: 16px;
    margin-bottom: 0;
    color: red;
    font-weight: 700;
}

.error-1 i {
    color: red;
    font-size: 16px;
}

.delete-image {
    display: block;
    margin-top: 0.5rem;
    color: red;
    font-size: 1rem;
}

.delete-image i {
    cursor: pointer;
}

/* Message de confirmation */

.message-validation {
    width: 100%;
    height: auto;
    padding: 1rem 1.5rem;
    border-radius: 15px;
    text-align: center;
}

.message-validation.message-success {
    background: #48cb764a;
    box-shadow: 0 0 5px 0px #bfe8cead;
}

.message-validation.message-error {
    background: #cb48484a;
    box-shadow: 0 0 5px 0px #e8bfbfad;
}

.message-validation img {
    max-width: 160px;
}

.message-validation h3 {
    font-style: italic;
}

.message-validation p {
    color: black;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 0;
}

.message-validation {
    display: none;
}

#loader-form {
    display: flex;
    justify-content: center;
    height: 500px;
    position: relative;
    flex-direction: column;
    align-items: center;
}

.hidden {
    display: none !important;
}

.validationFile {
    display: none;
}