@media all and (min-width: 320px) and (max-width: 768px) {

    .hide-mobile {
        display: none !important;
    }

    .show-mobile {
        display: block !important;
    }

}

.hide-mobile {
    display: block;
}

.show-mobile {
    display: none !important;
}


/* Header */

header.py-5 {
    padding-top: 3rem !important;
    padding-bottom: 12rem !important;
}

header .col-lg-8.col-xl-7.col-xxl-6 {
    padding-left: 0;
    padding-right: 0;
}

.dropdown-user a i {
    font-size: 1.5rem;
}

.dropdown-user ul li i {
    font-size: 1rem;
}

.nav-fixed {
    position: fixed;
    z-index: 10;
    width: 100%;
}

/* Bloc marketing */

.marketing {
    margin-top: -10rem;
    background: #0000000a;
    padding: 0 2rem;
}

.marketing .col-lg-3 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

@media all and (min-width: 320px) and (max-width: 1024px) {

    .marketing .col-lg-3 {
        margin-top: 1.5rem !important;
    }

}

.marketing .row {
    display: flex;
    justify-content: center;
}

.marketing .bd-placeholder-img.rounded-circle {
    opacity: 0.85;
}

/* Bloc ville populaire */

.ville-populaire .card.card-cover {
    background-size: cover;
    border: none;
    background-position: center;
    min-height: 22rem;
    cursor: pointer;
}

.ville-populaire .card.card-cover:hover {
    opacity: 0.7;
    transition: all 1s;
    box-shadow: none;
}

/* Bloc nouveautes appartements */

.nouveautes_appartements .badge_new {
    position: absolute;
    right: 1.0rem;
    top: 1rem;
    z-index: 9;
}

.nouveautes_appartements .badge_new .badge {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.nouveautes_appartements .location .bandeau {
    left: 0;
    top: 15.5rem;
    padding: 1rem 1rem;
    position: absolute;
    background: #00000085;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    z-index: 9;
}

@media (min-width: 320px) and (max-width: 1400px) {
    .nouveautes_appartements .location .bandeau {
        position: relative;
        top: 0;
        left: 0;
        background-color: #000000bf;
    }
}

.nouveautes_appartements .location .bandeau span {
    color: white;
    font-weight: bold;
}

.nouveautes_appartements .details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-top: 1px solid #00000040;
    padding: 1rem 0;
}

.nouveautes_appartements .details div {
    text-align: center;
}

.nouveautes_appartements .details div p {
    margin-bottom: 0.5rem;
    font-size: 12px;
    font-weight: 700;
}

.nouveautes_appartements .details div i {
    font-size: 14px;
    font-weight: 700;
}

.nouveautes_appartements .details div:first-child p:nth-child(2) {
    color: brown;
}

.nouveautes_appartements .details div:nth-child(2) p:nth-child(2) {
    color: orange;
}

.nouveautes_appartements .details div:last-child p:nth-child(2) {
    color: green;
}

.nouveautes_appartements .details div p:last-child {
    margin-bottom: 0;
}

.nouveautes_appartements .footer {
    display: flex;
    flex-direction: row;
    border-top: 1px solid #00000040;
    color: white;
    font-weight: 700;
    text-align: center;
}


.nouveautes_appartements .footer div:first-child,
.nouveautes_appartements .footer div:last-child {
    padding: 0.5rem 0;
}

.nouveautes_appartements .footer div:nth-child(2) {
    border-left: 1px solid #00000040;
}

.nouveautes_appartements .footer div:first-child {
    background-color: #0dcaf0;
    display: block;
    flex: 0.5;
}

.nouveautes_appartements .footer a {
    display: block;
    flex: 0.5;
}

.nouveautes_appartements .footer a div {
    background-color: #fd9843 !important;
    color: white;
}

.nouveautes_appart .previous-alert {
    width: 100%;
}

.nouveautes_appart .alert {
    width: 50%;
    justify-content: center;
}


/* Bloc nouveautes maisons */

.nouveautes_maisons .badge_new {
    position: absolute;
    right: 1.0rem;
    top: 1rem;
    z-index: 9;
}

.nouveautes_maisons .badge_new .badge {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.nouveautes_maisons .location .bandeau {
    left: 0;
    top: 15.5rem;
    padding: 1rem 1rem;
    position: absolute;
    background: #00000085;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    z-index: 9;
}

@media (min-width: 320px) and (max-width: 1400px) {
    .nouveautes_maisons .location .bandeau {
        position: relative;
        top: 0;
        left: 0;
        background-color: #000000bf;
    }
}

.nouveautes_maisons .location .bandeau span {
    color: white;
    font-weight: bold;
}

.nouveautes_maisons .details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-top: 1px solid #00000040;
    padding: 1rem 0;
}

.nouveautes_maisons .details div {
    text-align: center;
}

.nouveautes_maisons .details div p {
    margin-bottom: 0.5rem;
    font-size: 12px;
    font-weight: 700;
}

.nouveautes_maisons .details div i {
    font-size: 14px;
    font-weight: 700;
}

.nouveautes_maisons .details div:first-child p:nth-child(2) {
    color: brown;
}

.nouveautes_maisons .details div:nth-child(2) p:nth-child(2) {
    color: orange;
}

.nouveautes_maisons .details div:last-child p:nth-child(2) {
    color: green;
}

.nouveautes_maisons .details div p:last-child {
    margin-bottom: 0;
}

.nouveautes_maisons .footer {
    display: flex;
    flex-direction: row;
    border-top: 1px solid #00000040;
    color: white;
    font-weight: 700;
    text-align: center;
}


.nouveautes_maisons .footer div:first-child,
.nouveautes_maisons .footer div:last-child {
    padding: 0.5rem 0;
}

.nouveautes_maisons .footer div:nth-child(2) {
    border-left: 1px solid #00000040;
}

.nouveautes_maisons .footer div:first-child {
    background-color: #0dcaf0;
    display: block;
    flex: 0.5;
}
    
.nouveautes_maisons .footer a {
    display: block;
    flex: 0.5;
}

.nouveautes_maisons .footer a div {
    background-color: #fd9843 !important;
    color: white;
}

.nouveautes_maison .previous-alert {
    width: 100%;
}

.nouveautes_maison .alert {
    width: 50%;
    justify-content: center;
}

/* Bloc Autres Recherches */

.autres-recherches .collapseTable {
    display: flex;
    justify-content: flex-start;
}

@media (min-width: 320px) and (max-width: 1400px) {
    .autres-recherches .collapseTable {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        flex-wrap: nowrap;
    }

}

.autres-recherches .collaspeRow:first-child {
    margin-right: 1.5rem;
}

@media (min-width: 320px) and (max-width: 1400px) {

    .autres-recherches .collaspeRow:first-child {
        margin-right: 0;
    }

}

.autres-recherches .collaspeRow {
    flex: 0.5;
}

.collaspeRow .accordion-button .badge {
    position: absolute;
    display: block;
    right: 3rem;
}

/* Bloc Newsletter */

#newsletter {
    width: 100%;
    display: flex;
}

#newsletter input {
    margin-right: 1rem;
}

/* Recaptcha v2 */

.g-recaptcha {
    display: none;
}

/* Loader */

.loader_inf {
    display: none;
    width: 100%;
    text-align: center;
}

/* Alert */

.alert-newsletter {
    display: none;
}

.alert-newsletter .before-icone {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Back to top */

#toTopBtn {
    display: none;
    position: fixed;
    bottom: 26px;
    right: 39px;
    border-radius: 30px;
    z-index: 98;
    opacity: 0.8;
    padding: 0.8rem 1rem;
    background-color: #212529 !important;
    transition: all 1s;
    color: white;
}

#toTopBtn:hover {
    opacity: 0.4;
}

/* Bloc Location Free */

.location-free {
    background: url(../images/background-terrain.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.location-free .bg-success {
    background-color: #323433a8 !important;
}

@media (min-width: 320px) and (max-width: 768px) {
    .create-annonce-free {
        margin-bottom: 1rem;
    }
}

.footer_bottom {
    background: #212529;
    max-width: inherit;
    padding: 0 8rem;
}